<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Flight Radar V1.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>FlightActivityWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2927A2772CB47A3000DDBE9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>297295672CF1048D00E44CB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>297295722CF1048D00E44CB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29AEA8A62CC9C7A700DDAA3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
